<mat-toolbar color="primary">
    <mat-toolbar-row>
        Creditos
        <div class="flex-spacer"></div>
        <button mat-button [routerLink]="['/']">Registro</button>
        <button mat-button [routerLink]="['/request']">Solicitar credito</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>