<form class="row justify-content-center" #requestForm="ngForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()"
[formGroup]="_requestForm" *ngIf="_showForm && !_submited">
    <h3 class="col-md-12" style="margin-top: 30px">Solicitar credito</h3>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field [class.mat-form-field-invalid]="_isClient">
                    <input matInput placeholder="Identificación" value="" name="identification" type="text" formControlName="identification"
                        [(ngModel)]="_userIdentification" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="_requestForm.controls['identification'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                    <mat-error *ngIf="_requestForm.controls['identification'].hasError('pattern')" class="text-right">
                        {{_validations.isNumber}}
                    </mat-error>
                    <mat-hint align="end" *ngIf="_isClient" class="text-right mat-error">
                        {{_validations.isClient}}
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field>
                    <input matInput placeholder="NIT de la empresa" value="" name="companyNIT" type="text" formControlName="companyNIT" [(ngModel)]="_request.company_NIT"
                        [errorStateMatcher]="matcher" (blur)="calculateCheckDigit()" required>
                    <mat-error *ngIf="_requestForm.controls['companyNIT'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                    <mat-error *ngIf="_requestForm.controls['companyNIT'].hasError('pattern')" class="text-right">
                        {{_validations.isNumber}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="Digito de verificación" value="" name="digit" type="text" formControlName="checkDigit" [(ngModel)]="_checkDigit">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput placeholder="Nombre de empresa" value="" name="companyName" type="text" formControlName="companyName" [(ngModel)]="_request.company_name"
                        [errorStateMatcher]="matcher">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput placeholder="Salario actual" value="" name="salary" type="text" formControlName="salary" [(ngModel)]="_request.salary"
                        [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="_requestForm.controls['salary'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                    <mat-error *ngIf="_requestForm.controls['salary'].hasError('pattern') && !_requestForm.controls['salary'].hasError('min') && !_requestForm.controls['salary'].hasError('max')"
                        class="text-right">
                        {{_validations.isNumber}}
                    </mat-error>
                    <mat-error *ngIf="_requestForm.controls['salary'].hasError('min')" class="text-right">
                        {{_validations.higher}}
                    </mat-error>
                    <mat-error *ngIf="_requestForm.controls['salary'].hasError('max')" class="text-right">
                        {{_validations.less}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de ingreso a la empresa" formControlName="dateHire" [(ngModel)]="_request.date_hire"
                        [errorStateMatcher]="matcher" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="_requestForm.controls['dateHire'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                    <mat-error *ngIf="_requestForm.controls['dateHire'].hasError('isToday')" class="text-right">
                        {{_validations.isToday}}
                    </mat-error>
                    <!-- <mat-error *ngIf="_requestForm.controls['dateHire'].hasError('workingTime') && !_requestForm.controls['dateHire'].hasError('isToday')" class="text-right">
                        Tiempo de labor deber ser mayor a año y medio
                    </mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-md-12 text-right">
                <button mat-raised-button color="primary" type="submit" [disabled]="!requestForm.form.valid || _isClient">Solicitar</button>
            </div>
        </div>
    </div>
</form>

<div class="submited row justify-content-center align-items-center" *ngIf="_submited">
    <div class="card text-center col-md-5">
        <h4 *ngIf="_response[1] == 1 || _response[1] == 2">Credito rechazado</h4>
        <h4 *ngIf="_response.state">Credito aprobado</h4>
        <p *ngIf="_response[1] == 1">No cumple con el tiempo minimo de laborar (año y medio).</p>
        <p *ngIf="_response[1] == 2">No cumple con el salario minimo ($800.000).</p>
        <p *ngIf="_response.state">Capital aprobado:<br>{{_response.amount | currency}}</p>
        <button mat-raised-button color="primary" (click)="_submited = false">ACEPTAR</button>
    </div>
</div>