<form class="row justify-content-center" #registerForm="ngForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()"
    [formGroup]="_registerForm" *ngIf="_showForm && !_submited">
    <h3 class="col-md-12" style="margin-top: 30px">Registrar cliente</h3>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field [class.mat-form-field-invalid]="_isClient">
                    <input matInput placeholder="Identificación" value="" name="identification" type="text" formControlName="identification"
                        [(ngModel)]="_user.identification" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="_registerForm.controls['identification'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                    <mat-error *ngIf="_registerForm.controls['identification'].hasError('pattern')" class="text-right">
                        {{_validations.isNumber}}
                    </mat-error>
                    <mat-hint align="end" *ngIf="_isClient" class="text-right mat-error">
                        {{_validations.isClient}}
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput placeholder="Nombre" value="" name="name" type="text" formControlName="name" [(ngModel)]="_user.name" [errorStateMatcher]="matcher"
                        required>
                    <mat-error *ngIf="_registerForm.controls['name'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput placeholder="Apellido" value="" name="lastname" type="text" formControlName="lastName" [(ngModel)]="_user.last_name"
                        [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="_registerForm.controls['lastName'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="birthDate" [(ngModel)]="_user.birth_date"
                        [errorStateMatcher]="matcher" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="_registerForm.controls['birthDate'].hasError('required')" class="text-right">
                        {{_validations.isRequired}}
                    </mat-error>
                    <mat-error *ngIf="_registerForm.controls['birthDate'].hasError('adulthood')" class="text-right">
                        {{_validations.isBoy}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12 text-right">
                <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid || _isClient">Registrar</button>
            </div>
        </div>
    </div>
</form>

<div class="submited row justify-content-center align-items-center" *ngIf="_submited">
    <div class="card text-center col-md-5">
        <h4>Registro exitoso</h4>
        <button mat-raised-button color="primary" (click)="_submited = false">ACEPTAR</button>
    </div>
</div>